{% include "superadmin_nav.html" %}

<div class="container mt-auto py-3">

    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>

            </tr>
        </thead>
        <tbody>
            {% for cat in category %}
            <tr>
                <td><a href="/superadmin/category/{{cat.id}}/"><button class="button button1"
                            type="submit">{{cat}}</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>