{% include "superadmin_nav.html" %}

<div class="container mt-auto py-3">

    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Product Quantity</th>
                <th>Product Price</th>
                <th>Product Approved Status</th>
                <th>Product Image</th>
            </tr>
        </thead>
        <tbody>
            {% for p in product %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.category }}</td>
                <td>{{ p.quantity }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.approved }}</td>
                <td><img src="/media/{{ p.image }}" alt="No image found" width="100" height="100"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>