{% include "header.html" %}
<div class="container my-5 d-flex justify-content-end">
    <a href="/superadmin/superadmin_wallet/" class="btn btn-primary my-2">My Wallet</a>
</div>

<body class="bg-light">
    <div class="container my-5">
        <h2 class="mb-4">Superadmin Wallet</h2>

        <div class="card">
            <div class="card-body">
                <p class="card-text">Balance: ₹ {{ superadmin_wallet.balance }}</p>

                <a href="/superadmin/superadmin_add_funds/" class="btn btn-primary">Add Funds</a>
                <!-- Add other wallet functionality links/forms as needed -->
            </div>
        </div>
        <div> <a href="/superadmin/walletwise_seller/"><button class="btn btn-outline-success">Seller
                    wallet</button></a></div>
        <div> <a href=""><button class="btn btn-outline-success">Buyer wallet</button></a></div>

    </div>

</body>

{% include "footer.html" %}