<div class="container mt-auto">
    <div class="row">
        <div class="col-6">
            <div class="row">
                Buyer's Details:
            </div>
            <div class="row row-cols-4">
                {% for b in buyers %}
                <div class="card col">
                    <div class="card-body">
                        <tr>
                            <td>Name: </td>
                            <td>{{ b.buyer.username }}</td>
                        </tr>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            Seller's Name
        </div>

    </div>
</div>

<div class="container mt-auto">
    <div class="row">
        <div class="col-6">
            Seller's Name
        </div>

    </div>
</div>