{% include "superadmin_nav.html" %}

<div class="container mt-auto py-3">

    <table class="table">
        <thead>
            <tr>
                <th>Seller Name</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for w in wallet %}
            <tr>
                <td>{{w.walletuser.first_name}} {{w.walletuser.last_name}}</td>
                <td>{{w.balance}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>